/* GUARDA FILE ISTRUZIONI.txt */
i9html,
.title1 {
  color: cadetblue;
  font-size: 60px;
  margin-left: 100px;
  text-align: center;
}

.grid {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.tasto {

  background-color: #4CAF50;

  border-style: dotted;
  border-top-color: green;

}

body {
  padding: 0;

  color: rebeccapurple;
  background-color: lightgreen;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

a {

  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.tabella {
  table {
    border-collapse: collapse
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  text-align: center;
}

.tappetino {
  height: 60px;
  width: 90px;
  padding-top: 5px;
  background-color: #4CAF50;
  color: black;
  text-align: center;
  border-radius: 6px;
}

.mazzo {
  text-align: center;
  height: 40px;
  width: 29.045px;

  background-color: transparent;
  /* border: 1px solid #f1f1f1; */
  perspective: 100px;
}

.inner {
  position: relative;
  height: 40px;
  width: 29.045px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.carta {
  margin: 5px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  color: inherit;
  background-color: #f0f0f0;
  text-decoration: none;
  border: 0px solid #eaeaea;
  transition: background-color 0.5s ease, font-weight 0.15s ease;
  height: 40px;
  width: 29.05px;
}

.dorso,
.faccia {
  margin: 0;
  position: absolute;
  /* -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.faccia { /*back*/
  transform: rotateY(-180deg);
}

.carta:hover {
  background-color: #c2d7ef;
  font-weight: 650;
}

@media (max-width: 500px) {
  .tabella {
    width: 100%;
    flex-direction: column;
  }
}

#contenitore {
  width: 200px;
  height: 26px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto
}

#interno {
  width: 0%;
  height: 21px;
  background-color: #ff0000;
}